{% extends "base.html.twig" %}
{% block stylesheets %}

{% endblock %}

{% block body %}

    <h1 name="top">Depth creatures</h1>
    <p class="alert alert-primary">Plankton Corp is pleased to let you access it's official scientific data regarding numbers of deep sea creatures. If you ever wondered how far the life under the ocean can go, feel free to search for your favorite sea creatures and for their curious behavior here.</p>
    <div class="creature_menu">
        <nav class="nav">
            <ul class="content_menu_creature">
                <li class="menu_creature_item"><a href="#top">Depth creatures</a></li>
                {% for creature in creatures %}
                <li class="menu_creature_item"><a href="#{{creature.creature_name}}">{{creature.creature_name}}</a></li>
                {% else %}
                <span>No creatures, so sad :(</span>
            {% endfor %}
            </ul>
        </nav>
    </div>
    

    <div class="bubbles">
        <div class="bubble-wrap">
            {% for i in 1..100 %}
                <div class="bubble"></div>
            {% endfor %}
        </div>
    </div>
    <div class="depth" id="depth">
        DEPTH 0 METER
      </div>
    <div class="ocean" style="grid-template-rows: repeat(999, 50px);">
        {% for creature in creatures %}
            <div class="creature-line" style="--row: {{creature.creature_depth / 10}}; --row-width: 1; --col: 3; --col-width: 3; --row-mobile: 4; --row-width-mobile: 1; --col-mobile: 3; --col-width-mobile: 2;">
                <div class="animal-inner">
                    <h2><a name="{{creature.creature_name}}">{{creature.creature_name}}</a></h2>
                    <img alt="Image of a {{creature.creature_name}}" src="{{creature.creature_image}}" class="animal-img">
                    <div class="animal-name">{{creature.creature_description}}</div>
                    <a href="/seacreature/{{creature.id}}" class="btn btn-outline-info my-2 my-lg-0"><img src="static/images/eye.svg" alt="" style="width: 30px;"/></a>
                </div>
            </div>
        {% else %}
            <span>No creatures, so sad :(</span>
        {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script src="static/js/main.js"></script>

{% endblock %}
