{% extends "base.html.twig" %}
{% block stylesheets %}

{% endblock %}

{% block body %}

    <h1>Edit user</h1>

    {{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.email) }}
    {{ form_row(form.roles) }}

    {{ form_row(form.save, { 'label': 'Edit user' }) }}
    {{ form_end(form) }}

    <div class="bubbles">
        <div class="bubble-wrap">
            {% for i in 1..100 %}
                <div class="bubble"></div>
            {% endfor %}
        </div>
    </div>
{% endblock %}