{% extends "base.html.twig" %}
{% block stylesheets %}

{% endblock %}

{% block body %}

    <h1>Users management</h1>

    <p class="alert alert-primary">{{message}}</p>
    <p class="alert alert-primary"><a href="/admin/users/export" class="btn btn-outline-success my-2 my-lg-0" title="export">EXPORT <img src="/static/images/box-add.svg" alt="" style="width: 30px;"/></a> <a href="/admin/users/import" class="btn btn-outline-success my-2 my-lg-0" title="import">IMPORT <img src="/static/images/box-remove.svg" alt="" style="width: 30px;"/></a></p>

    <table class="table table-primary edit-table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Email</th>
                <th scope="col">Roles</th>
                <th scope="col">View</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
                <td><a href="/admin/user/add"><img src="/static/images/plus.svg" alt="" style="width: 30px;"/></a></td>
            </tr>
        </thead>
        <tbody>
        {% for key,user in users %}
            <tr class="table-primary">
                <td>{{user.id}}</td>
                <td>{{user.email}}</td>
                <td>{% if 'ROLE_ADMIN' in user.roles %} <img src="/static/images/trophy.svg"/> administrator {% endif %}</td>
                <td><a href="/user/{{user.id}}?validation_hash={{user.hash}}"><img src="/static/images/eye.svg" alt="" style="width: 30px;"/></a></td>
                <td><a href="/admin/user/{{user.id}}/edit"><img src="/static/images/pencil.svg" alt="" style="width: 30px;"/></a></td>
                <td><a href="#" id="{{user.id}}" class="delete_button"><img src="/static/images/bin2.svg" alt="" style="width: 30px;"/></a></td>
            </tr>
        {% else %}
            <span>No users, so sad :(</span>
        {% endfor %}
    </table>

    <div class="bubbles">
        <div class="bubble-wrap">
            {% for i in 1..100 %}
                <div class="bubble"></div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script src="/static/js/users_management.js"></script>
{% endblock %}