{% extends "base.html.twig" %}
{% block stylesheets %}

{% endblock %}

{% block body %}

    <h1>Sea creatures management</h1>

    <p class="alert alert-primary">{{message}}</p>

    <div class="bubbles">
        <div class="bubble-wrap">
            {% for i in 1..100 %}
                <div class="bubble"></div>
            {% endfor %}
        </div>
    </div>

    <div class="card border-info mb-3" style="max-width:50%; margin:auto">
        <img alt="Image of a {{creature.creature_name}}" src="/{{creature.creature_image}}">
        <div class="card-header">{{creature.creature_name}}</div>
        <div class="card-body text-info">
          <h5 class="card-title">DEPTH {{creature.creature_depth}}</h5>
          <p class="card-text">{{creature.creature_description}}</p>
          <a href="/seacreature/{{creature.id}}/pdf" class="btn btn-outline-danger"><img src="/static/images/file-pdf.svg" alt="" style="width: 30px;"/> Generate PDF</a>
        </div>
      </div>

    
{% endblock %}