{% extends "base.html.twig" %}
{% block stylesheets %}

{% endblock %}

{% block body %}

    <h1>Sea creatures management</h1>

    <p class="alert alert-primary">{{message}}</p>

    <div class="bubbles">
        <div class="bubble-wrap">
            {% for i in 1..100 %}
                <div class="bubble"></div>
            {% endfor %}
        </div>
    </div>

    <form class="formCreature" name="formCreature" method="POST">
        <div class="mb-3">
            <label for="creatureName" class="form-label">Creature name</label>
            <input name="creature_name" type="text" class="form-control" id="creatureName" placeholder="Squid" value="{{creature.creature_name}}">
          </div>
          <div class="mb-3">
            <label for="creatureDescription" class="form-label">Creature description</label>
            <textarea name="creature_description" class="form-control" id="creatureDescription" rows="3">{{creature.creature_description}}</textarea>
          </div>
        <div class="mb-3">
            <label for="formFile" class="form-label">Image of the creature</label>
            <input name="creature_file" class="form-control" type="file" id="formFile">
            <input name="creature_file_path" class="form-control" type="hidden" value="static/images/upload/">
        </div>
        <div class="mb-3">
            <label for="creatureDepth" class="form-label">Creature depth</label>
            <input name="creature_depth" type="range" class="form-range" value="{{creature.creature_depth}}" min="0" max="12000" step="100" id="creatureDepth" oninput="this.nextElementSibling.value = this.value">
            <output>{{creature.creature_depth}}</output>
        </div>
        <div class="mb-3">
            <button type="button" id="{{creature.id}}" class="edit_button btn btn-warning mb-3">Edit creature</button>
        </div>
    </form>
{% endblock %}

{% block javascripts %}
<script src="/static/js/creatures_management.js"></script>
{% endblock %}