{% extends "base.html.twig" %}
{% block stylesheets %}

{% endblock %}

{% block body %}

    <h1>Sea creatures management</h1>

    <p class="alert alert-primary">{{message}}</p>

    <div class="bubbles">
        <div class="bubble-wrap">
            {% for i in 1..100 %}
                <div class="bubble"></div>
            {% endfor %}
        </div>
    </div>

    <table class="table table-primary edit-table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Image</th>
                <th scope="col">Depth</th>
                <th scope="col">Description</th>
                <th scope="col">View</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
                <td><a href="/seacreatures/add" title="new"><img src="/static/images/plus.svg" alt="" style="width: 30px;"/></a></td>
            </tr>
        </thead>
        <tbody>
        {% for key,creature in creatures %}
            <tr class="table-primary">
                <td>{{creature.id}}</td>
                <td>{{creature.creature_name}}</td>
                <td><img alt="Image of a {{creature.creature_name}}" src="/{{creature.creature_image}}" class="animal-img"></td>
                <td>{{creature.creature_depth}}m</td>
                <td>{{creature.creature_description}}</td>
                <td><a href="/seacreature/{{creature.id}}"><img src="/static/images/eye.svg" alt="" style="width: 30px;"/></a></td>
                <td><a href="/seacreature/{{creature.id}}/edit"><img src="/static/images/pencil.svg" alt="" style="width: 30px;"/></a></td>
                <td><a href="#" id="{{creature.id}}" class="delete_button"><img src="/static/images/bin2.svg" alt="" style="width: 30px;"/></a></td>
            </tr>
        {% else %}
            <span>No creatures, so sad :(</span>
        {% endfor %}
    </table>
{% endblock %}

{% block javascripts %}
<script src="static/js/creatures_management.js"></script>
{% endblock %}